[package]
name = "bones_bevy_renderer"
description = "Bevy plugin for rendering bones_lib games."
version = "0.1.1"
edition = "2021"
authors = ["The Fish Folk & Spicy Lobster Developers"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/fishfolk/bones"

[dependencies]
bones_lib = { version = "^0.1.0", path = "../../", features = ["bevy"] }
type_ulid = { version = "^0.1.0", path = "../type_ulid" }
serde = { version = "1.0.0", features = ["derive"] }
glam = "0.22.0"
serde_yaml = "0.9.16"
serde_json = "1.0.91"
bones_bevy_asset = { version = "^0.1.0", path = "../bones_bevy_asset" }
# TODO: Update when PR merged: https://github.com/forbjok/bevy_simple_tilemap/pull/9
bevy_simple_tilemap = "0.10.0"
bevy_prototype_lyon = "0.7.2"

[dependencies.bevy]
version = "0.9.1"
default-features = false
features = [
    "bevy_render",
    "bevy_core_pipeline",
    "bevy_sprite",
]
