[package]
name                 = "bones_matchmaker"
description          = "Simple matchmaking server for games."
version.workspace    = true
authors.workspace    = true
edition.workspace    = true
license.workspace    = true
repository.workspace = true

[dependencies]
anyhow                 = "1.0"
bytes                  = "1.2"
either                 = "1.8"
once_cell              = "1.15"
scc                    = "1.0"
rcgen                  = "0.12"
tracing                = "0.1"
rand                   = "0.8"
bones_matchmaker_proto = { version = "0.4.0", path = "../bones_matchmaker_proto" }
clap                   = { version = "4.0", features = ["derive", "env"] }
futures                = { version = "0.3", default-features = false, features = ["std", "async-await"] }
postcard               = { version = "1.0", default-features = false, features = ["alloc"] }
serde                  = { version = "1.0", features = ["derive"] }
tracing-subscriber     = { version = "0.3", features = ["env-filter"] }
tokio                  = { version = "1", features = ["rt-multi-thread", "macros"] }
iroh-net               = { version = "0.26", features = ["discovery-local-network"] }
quinn                  = { version = "0.11", package = "iroh-quinn" }
blake3                 = "1.5.3"
