[package]
name                    = "bones_scripting"
description             = "Official scripting integration with bones_framework."
version.workspace       = true
authors.workspace       = true
edition.workspace       = true
license.workspace       = true
repository.workspace    = true
documentation.workspace = true
categories.workspace    = true
keywords.workspace      = true

[dependencies]
async-channel   = "1.9"
tracing         = "0.1"
bevy_tasks      = "0.12"
bones_lib       = { version = "0.3", path = "../bones_lib" }
bones_asset     = { version = "0.3", path = "../bones_asset" }
piccolo         = { version = "0.3" }
gc-arena        = { version = "0.5" }
gc-arena-derive = { version = "0.5" }
send_wrapper    = "0.6.0"

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen-futures = "0.4"

[dev-dependencies]
piccolo = { version = "0.3" }
